<h1>Create Vehicle</h1>
<form #f="ngForm" (ngSubmit)="save(f)" novalidate>
  <p>{{ vehicle | json }}</p>
  <div class="mb-3">
    <label for="makeId">Make</label>
    <select
      required
      name="makeId"
      id="makeId"
      [(ngModel)]="vehicle.makeId"
      (change)="onMakeChange()"
      class="form-control"
      #make="ngModel"
    >
      <option value="">Select Make</option>
      <option *ngFor="let item of makes" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">
      Make is required
    </div>
  </div>
  <div class="mb-3">
    <label for="modelId">Model</label>
    <select
      required
      name="modelId"
      id="modelId"
      class="form-control"
      [(ngModel)]="vehicle.modelId"
      #model="ngModel"
    >
      <option value="">Select Model</option>
      <option *ngFor="let item of models" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">
      Model is required
    </div>
  </div>

  <div class="mb-3">
    <p>Is this vehicle registered?</p>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="isRegistered"
        id="Registered"
        [value]="true"
        [(ngModel)]="vehicle.isRegistered"
      />
      <label class="form-check-label" for="Registered">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="isRegistered"
        id="notRegistered"
        [value]="false"
        [(ngModel)]="vehicle.isRegistered"
      />
      <label class="form-check-label" for="notRegistered">No</label>
    </div>
  </div>

  <h2>Features</h2>
  <div *ngFor="let item of features" class="form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="{{ item.id }}"
      [checked]="vehicle.features.includes(item.id)"
      (change)="onFeatureToggle(item, $event)"
    />
    <label class="form-check-label" for="{{ item.id }}">{{ item.name }}</label>
  </div>

  <h2>Contact</h2>
  <div class="mb-3">
    <label for="contactName">Name</label>
    <input
      type="text"
      id="contactName"
      name="contactName"
      class="form-control"
      required
      [(ngModel)]="vehicle.contact.name"
      #name="ngModel"
    />
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
      Name is required
    </div>
  </div>
  <div class="mb-3">
    <label for="contactPhone">Phone</label>
    <input
      type="text"
      id="contactPhone"
      name="contactPhone"
      class="form-control"
      required
      [(ngModel)]="vehicle.contact.phone"
      #phone="ngModel"
    />
    <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">
      Phone is required
    </div>
  </div>
  <div class="mb-3">
    <label for="contactEmail">Email</label>
    <input
      type="text"
      id="contactEmail"
      name="contactEmail"
      class="form-control"
      [(ngModel)]="vehicle.contact.email"
    />
  </div>

  <button class="btn btn-primary me-2" [disabled]="f.invalid">Save</button>
  <button
    type="button"
    class="btn btn-danger"
    *ngIf="vehicleId"
    (click)="delete()"
  >
    Delete
  </button>
</form>
